Project Documents/Database Viewer/Mcrew_cfg/crop_db.dtd

<?xml version="1.0" encoding="ISO-8859-1"?>
<!ELEMENT cropDB (cropname, param*)>
<!ELEMENT cropname (#PCDATA)>
<!ELEMENT param (name,value)>
<!ELEMENT name (#PCDATA)>
<!ELEMENT value (#PCDATA)>

<!-- cropDBDTD: This file specifies the structure of various crop operations and their parameters
'cropopertion' element is not really required. Its present just to serve as a container for parameter.
parameters can be gropued (if required) under various crop operartions
-->
