Project Documents/Database Viewer/Mcrew_cfg/weps_man_db.dtd

<?xml version="1.0" encoding="ISO-8859-1"?>
<!ENTITY % operationDBDTD SYSTEM "operation_db.dtd">
%operationDBDTD;
<!ELEMENT wepsmanDB (version, rotationyears, wepsmannotes?, wepsmanvalue*)>
<!ELEMENT version (#PCDATA)>
<!ELEMENT rotationyears (#PCDATA)>
<!ELEMENT wepsmannotes (#PCDATA)>
<!ELEMENT wepsmanvalue (date, operationDB*)>
<!ELEMENT date (#PCDATA)>

